article p {color: red}

body {
    background-color: #341d4a;
    color: yellow;
}

.hhh {color: pink}

#lol {color: white}

.mainLink {
    color: #5cd7f2;
    text-decoration: none;
}
.mainLink:hover {color: white}
.mainLink:active {color: #77f567}
