* {
    margin: 0px;
}

body {
    background-color: rgb(36, 28, 77);
    color:blanchedalmond;
} 


header, article, aside, footer {float: left}

header {
    width: calc(100% - 20px);
    height: 50px;
    
    background-color:rgb(30, 30, 30);
    color: rgb(215, 215, 215);
    
    border-bottom: 2px solid rgb(211, 108, 252);
    padding: 10px;
    
    font-size: 1.8em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

article, aside {
    min-height: 500px;
    margin-top: 20px;
    padding: 10px;
    
    border: 2px solid rgb(26, 51, 85);
    border-radius: 5px;
    
    background-color: rgb(126, 206, 253);
    color: black;
    
    box-sizing: border-box; 
}

article {
    width: 55%;
    margin-left: 5%;
    margin-right: 5%;
}

aside {
    width: 30%;
}

footer {
    margin-top: 20px;
    
    width: calc(100% - 20px);
    height: 50px;
    
    background-color: rgb(30, 30, 30);
    color: rgb(215, 215, 215);
    
    border-top: 2px solid rgb(211, 108, 252);
    padding: 10px;
    
    font-size: 1.2em;
}


p {font-size: 1.3em;}
p em {
    color:rgb(223, 18, 127);
    font-weight: bold;
}

.links {
    color:rgb(215, 215, 215);
    text-decoration: none;
    font-size: 1em;
}

.links:hover {
    color:rgb(240, 102, 221);
    text-decoration: none;
}

.links:active {
    color:rgb(203, 240, 102);
    text-decoration: none;
}

#testBlock {
    width: 500px;
    height: 500px;

    border: 5px outset rgb(159, 156, 160);
    border-radius: 20px;

    margin: 10px;
    padding: 10px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    position: relative;
    z-index: -1;
}

span {
    display: block;
    height: 50px;
    width: 95px;
    border: 1px solid red;
    overflow: auto;
}

aside ul {
    list-style-position: outside;
    list-style-type:armenian;
}